<div class="row">
    <div class="left-div">
    <h3 class="p-2 mx-3 text-primary">Lightweight and user friendly</h3>
    <p class="fs-200 p-2 mx-3">
        The entire library is built from scratch to be lightweight and modular.
        Its footprint can further be reduced by including only specific components and features that your application requires <a href="https://angular.io/guide/forms-overview">angular</a>
    </p>
    <h3 class="p-2 mx-3 text-primary">Modular architecture</h3>
    <p class=" fs-200 p-2 mx-3">
        All components have been built as modules to enable selective referencing,
         so only the components and features you need are included in your application.
    </p>
    <h3 class="p-2 mx-3 text-primary">Built for performance</h3>
    <p class="fs-200 p-2 mx-3">
        Performance is critical for delivering a good user experience.
         We ensure that all our components are designed and built to achieve the best performance possible.
    </p>
    <h3 class="p-2 mx-3 text-primary">Code on GitHub</h3>
    <p class="fs-200 p-2 mx-3">
        Complete source code, unit test files, and e2e test scripts are available on GitHub. Such components are subject to the terms and conditions of the Syncfusion EULA.
    </p>
</div>
<div class="middle-div">
    <img class="img" src="assets/img/angular-img.png"/>
    <h4 class="text-secondary text-center mt-5">Disscussion</h4>
    <p class="text-center">The ng-disabled directive is a direct translation from the disabled HTML attribute, without you needing to worry about browser incompatibilities. 
        It is bound to the checked model using an attribute value as is the checkbox using the ng-model directive.
         In fact, the checked attribute value is again an Angular expression. You could, for example, invert the logic and use !checked instead.</p>
         <i class="fa fa-user"></i>
</div>
<div class="right-div">
    <h3 class="p-2 mx-3 text-primary">Lightweight and user friendly</h3>
    <p class="fs-200 p-2 mx-3">
        The entire library is built from scratch to be lightweight and modular.
        Its footprint can further be reduced by including only specific components and features that your application requires <a href="https://angular.io/guide/forms-overview">angular</a>
    </p>
    <h3 class="p-2 mx-3 text-primary">Modular architecture</h3>
    <p class=" fs-200 p-2 mx-3">
        All components have been built as modules to enable selective referencing,
         so only the components and features you need are included in your application.
    </p>
    <h3 class="p-2 mx-3 text-primary">Built for performance</h3>
    <p class="fs-200 p-2 mx-3">
        Performance is critical for delivering a good user experience.
         We ensure that all our components are designed and built to achieve the best performance possible.
    </p>
    <h3 class="p-2 mx-3 text-primary">Code on GitHub</h3>
    <p class="fs-200 p-2 mx-3">
        Complete source code, unit test files, and e2e test scripts are available on GitHub. Such components are subject to the terms and conditions of the Syncfusion EULA.
    </p>
</div>
</div>
<footer class="bg-primary text-white text-center p-5 m-5">
   About Us
</footer>
