
<div class="col-12 bg-warning p-3">
<nav class="nav">
    <a routerLink="/" class="text-decoration-none text-dark fw-bold px-2">home</a>
    <a routerLink="/about" class="text-decoration-none text-dark fw-bold px-2">about</a>
    <a routerLink="/crud" class="text-decoration-none text-dark fw-bold px-2">Users</a>
    <a routerLink="/login" class="text-decoration-none text-dark fw-bold px-2">login</a>
    <a routerLink="/lifecycle" class="text-decoration-none text-dark fw-bold px-2">lifecycles</a>
    <a routerLink="/userlist" class="text-decoration-none text-dark fw-bold px-2">UserList</a>
    <a routerLink="/ag-grid"  class="text-decoration-none text-dark fw-bold px-2">Infinite-scroll</a>
    <!-- <a routerLink="/grid-all"  class="text-decoration-none text-dark fw-bold px-2">Grid</a> -->
    <a routerLink="/agngular-grid"  class="text-decoration-none text-dark fw-bold px-2">Ag-Grid</a>
</nav>
</div> 
<router-outlet></router-outlet>
