<div class="text-center mt-5">
    <h1><b>Welcome to Angular</b></h1>
</div>

<div class="left-div">
   <div class="card shadow mb-3 mt-3 left-top">
       <div class="card-body text-center">
            <h4 class="text-primary">What is angular</h4>
            <p>This topic can help you understand Angular: what Angular is, what advantages it provides, 
                and what you might expect as you start to build your applications.With Angular,
                 you're taking advantage of a platform that can scale from single-developer projects to enterprise-level applications.</p>
       </div>
       <div class="card-footer bg-light text-primary text-end">
          platform overview
       </div>
   </div>

    <div class="card shadow left-bottom">
        <div class="card-body text-center">
             <h4 class="text-primary">Learn and explore</h4>
             <p>Currently, the product list displays the name and description of each product.
                The ProductListComponent also defines  data for each product
                  The ProductListComponent also defines a products property that contains imported 
                  data for each product from the products array in products.ts</p>
        </div>
        <div class="card-footer bg-light text-primary text-end">
        introduction to angular concept
        </div>
    </div>

</div>

<div class="right-div">
   
   <div class="card shadow mb-3 mt-3">
       <div class="card-body text-center">
            <h4 class="text-primary">Getting started</h4>
            <p>what you might expect as you start to build your applications.Currently, the product list displays the name and description of each product. 
                The ProductListComponent also defines a products property that contains imported data for each product from the products array in products.ts</p>
       </div>
       <div class="card-footer bg-light text-primary text-end">
          platform overview
       </div>
   </div>


    <div class="card shadow">
        <div class="card-body text-center">
             <h4 class="text-primary">Set up your environment</h4>
             <p>This guide explains how to set up your environment for Angular development using the Angular CLI tool. 
                 It includes information about prerequisites,The ProductListComponent also defines a 
                  installing the CLI, creating an initial workspace and starter app, and to verify your setup.</p>
        </div>
        <div class="card-footer bg-light text-primary text-end">
        introduction to angular concept
        </div>
    </div>
 
 </div>
 <div *ngIf="bubble" class="card shadow">
    <div class="card-body text-center">
         <h4 class="text-primary">Set up your environment</h4>
         <p>This guide explains how to set up your environment for Angular development using the Angular CLI tool. 
             It includes information about prerequisites,The ProductListComponent also defines a 
              installing the CLI, creating an initial workspace and starter app, and to verify your setup.</p>
    </div>
    <div class="card-footer bg-light text-primary text-end">
    introduction to angular concept
    </div>
</div>


